a {
    margin-right: 15px;
    border-radius: 5px;
}
h1 {
    text-align: center;
}
.log {
    width: 80px;
    margin-left: 10px;
}
.in label {
    margin-right: 15px;
}

footer img{
    width: 40px;
}
nav {
    padding-bottom: 20px;
    padding-top: 10px;
}
h1 {
    padding: 10px;
}
main section{
    padding: 20px;
}

.img-card {
    height: 25vh;
    object-fit: cover;
    padding: 5px;
}
footer img{
    padding-left: 15px;
}
.img-log {
    width: 20px;
}

a:hover {
    background-color: rgb(203, 14, 128);
    color: black;
}
.img-card-2 {
    height: 25vh;
    object-fit: contain;
}

.med {
    height: 450px;
}

.bu {
    text-decoration: none;
    color: black;
}
button:hover{
    background-color: rgb(203, 14, 128);
}
button {
    border:1px solid rgb(203, 14, 128);
    border-radius: 10%;
}
.tab table {
    border: 1px solid green;
}
.tabe {
    height: 82vh;
}
nav {
    background-color: rgb(87, 175, 87)
}
body {
    background-color:#a8cd81;
}
footer {
    height: 10vh;
    background-color: rgb(87, 175, 87);
}
footer p {
    font-size: 25px;
    margin-right: 15px;
}
.li a {
    color: rgb(0, 0, 0);
    border: 1px solid rgb(203, 14, 128) !important;
}
.li a:hover {
    background-color:rgb(203, 14, 128) ;
    color: rgb(255, 254, 254);
}
.but {
    border: 1px solid rgb(203, 14, 128);
}
.but:hover {
    background-color:rgb(203, 14, 128) ;
}
.car-he {
    height: 350px;
}
.bod-card{
    padding: 5px;
}
.columnasjs{
    display: flex;
    flex-direction: row-reverse;
}


@media (min-width: 374px) and (max-width:542px) {
    .na1 {
        flex-direction: column;
        
    }
}
@media (min-width: 374px) and (max-width:542px) {
    .tabe {
        height: 700px;
    }
}

